html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body{
	font-family: Arial;
    color:white;
        background-color:black;
 
}


header{
    display: grid;
        background-color: transparent;
    overflow: hidden;

width: 100%;


    z-index:1;
}



.img{
    padding:3%;
}


section{
    display:grid;
    grid-template-columns: 1fr;
margin-bottom:10%;
     text-align:center;

}

.container{
    margin:10px;
    
}


h1{
    font-family: "arial";
    font-size:60px;
    margin:10px;
}



.btn {
  background-color: #789F59;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
     transition-duration: 0.4s;
      
}

.btn:hover {
  background-color: #9FD173;
}


/* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }


